html {
    height: auto;
}

html > body, html > body > div#app {
    height: 100%;
}

.suff-toggle-drawer-xs {
    position: fixed;
    bottom: 2em;
    width: 100%;
    display: flex;
    padding-right: 2em;
    justify-content: flex-end;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[data-animation="glow"] {
    border-radius: 100px;
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px -5px #f6ba44;
    }

    to {
        box-shadow: 0 0 5px 5px #f6ba4450;
    }
}