@import '_content/Sufficit.Blazor.UI.Material/Sufficit.Blazor.UI.Material.bundle.scp.css';

/* /Shared/MainLayoutMaterial.razor.rz.scp.css */
div.fillheight[b-nra5xrklbr] {
    bottom: 0;
    height: 250px;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
/* /Shared/SideBarMaterial.razor.rz.scp.css */
.g-sidenav-hidden img.navbar-brand-img.logo[b-b43d6vye1d] {
    filter: contrast(0) brightness(0) invert(1);
}
