.events-monitor .card {
  height: fit-content; }
  .events-monitor .card .card-header small {
    font-variant: petite-caps; }
  .events-monitor .card .card-header img.avatar {
    border: 0.1px solid rgba(0, 0, 0, 0.3); }
  .events-monitor .card .card-channel[data-hangup] {
    text-decoration: line-through; }
  .events-monitor .card .card-channel .card-channel-actions i {
    vertical-align: middle; }
  .events-monitor .card .card-channel:not([data-hangup]) .card-channel-actions [data-state='Ring'] i, .events-monitor .card .card-channel:not([data-hangup]) .card-channel-actions [data-state='Ringing'] i {
    animation: blink-animation 0.5s steps(5, start) infinite; }

.events-panel .card-trunks, .events-panel .card-queues {
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px)); }

.events-panel .card-extensions > .card {
  max-width: 220px; }

.events-panel .card-extensions {
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px)); }

.events-panel .events-monitor {
  justify-content: center;
  margin-left: auto;
  display: grid;
  grid-gap: .3rem; }

.events-panel .card {
  min-width: 150px; }

.events-panel .card[data-state="Unknown"] {
  opacity: 0.5; }

.events-panel .card[data-state="Unregistered"] {
  background: rgba(114, 114, 114, 0.1); }

.events-panel .card[data-state="Unmonitored"] {
  background: rgba(0, 150, 255, 0.1); }

.events-panel .card[data-state="Registered"], .events-panel .card[data-state="Ok"] {
  background: rgba(0, 241, 82, 0.1); }

.events-panel .card[data-state="Reachable"] {
  background: rgba(0, 231, 82, 0.1); }

.events-panel .card[data-state="Unreachable"] {
  background: rgba(255, 0, 0, 0.1); }

.events-panel .card[data-status] {
  background: rgba(255, 150, 0, 0.1); }

.card[data-kind="queue"] {
  max-width: 300px; }
  .card[data-kind="queue"][data-monitor] {
    background: rgba(180, 240, 255, 0.1); }
  .card[data-kind="queue"] div[data-kind="member"] {
    line-height: 1.8rem; }
    .card[data-kind="queue"] div[data-kind="member"] i {
      font-size: 1.2rem; }
    .card[data-kind="queue"] div[data-kind="member"][data-status="unavailable"] i {
      color: gray; }
    .card[data-kind="queue"] div[data-kind="member"][data-status="inuse"] i {
      color: #ffbb68; }

.card[data-kind="trunk"] {
  max-width: 300px; }

.card-channel .card-channel-actions [data-did], .card-channel .card-channel-actions [data-outcallid] {
  color: rgba(0, 0, 0, 0.2); }

.card-extensions .card-channel .card-channel-actions [data-state], .card-peers .card-channel .card-channel-actions [data-state] {
  color: green; }

.card-extensions .card-channel[data-initiator] .card-channel-actions [data-state], .card-peers .card-channel[data-initiator] .card-channel-actions [data-state] {
  color: blue; }

.card-trunks .card-channel .card-channel-actions [data-state] {
  color: blue; }

.card-trunks .card-channel[data-initiator] .card-channel-actions [data-state] {
  color: green; }
