@page "/dashboard/toast"
<h3>Toast</h3>

<div class="toast fade p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id='mytoast' aria-atomic="true" data-autohide="false">
    <div class="toast-header bg-transparent border-0">
    <i class="material-icons text-white me-2">
notifications
</i>
    <span class="me-auto text-white font-weight-bold">Material Dashboard </span>
    <small class="text-white">11 mins ago</small>
    <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
    </div>
    <hr class="horizontal light m-0">
    <div class="toast-body text-white">
    Hello, world! This is a notification message.
    </div>
</div>
new bootstrap.Toast(document.getElementById("mytoast"), { autohide: false }).show();

@code {

}
