@page "/pages/telephony/monitor/configuration"
@attribute [Authorize(Roles = "manager")]
@inherits MonitorTelephonyBasePageComponent 

<MudGrid Class="mt-5">
    <MudItem xs="12"> 
       <MudCard Class="pa-3">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Configurações de serviço</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@EPService.Client?.Options.Endpoint</MudText>
            </MudCardContent>
        </MudCard>

        @if (UserOptions != null)
        {
            <MudCard Class="pa-3">
                <div class="row">
                <div class="col-12 col-md-6 col-xl-4 position-relative">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Preferências do usuário</h6>
                        </div>
                        <div class="card-body p-3">
                            <h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
                            <ul class="list-group">
                                <li class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0 is-filled">
                                        <MudCheckBox T="bool" Checked="@UserOptions.ShowTrunks" CheckedChanged="OnCheckBoxChanged"></MudCheckBox>
                                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Exibir troncos</label>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <div class="input-group input-group-outline my-1">
                                        <label class="form-label">Maximo de botões a exibir</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <div class="input-group input-group-outline my-1">
                                        <label class="form-label">Taxa de atualização em mili-segundos</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="vertical dark">
                </div>
            </div>
        </MudCard>
        }
    </MudItem>
</MudGrid>