@page "/pages/telephony/monitor/configuration"
@attribute [Authorize]
@inherits MonitorTelephonyBasePageComponent 

<div class="card mb-3">
    <div class="card-header pb-0 p-3">
        <h6 class="mb-0">Configurações de serviço</h6>
    </div>
    <div class="card-body">
        <span>@EPService.Client?.Options.EndPoint</span>
    </div>
</div>

<div class="card card-body">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 position-relative">
            <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Preferências do usuário</h6>
                </div>
                <div class="card-body p-3">
                    <h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
                    <ul class="list-group">
                        <li class="list-group-item border-0 px-0">
                            <div class="form-check form-switch ps-0 is-filled">
                                <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked="@Options?.ShowTrunks" @onchange="OnCheckBoxChanged">
                                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Exibir troncos</label>
                            </div>
                        </li>
                        <li class="list-group-item border-0 px-0">
                            <div class="input-group input-group-outline my-1">
                                <label class="form-label">Maximo de botões a exibir</label>
                                <input type="number" class="form-control">
                            </div>
                        </li>
                        <li class="list-group-item border-0 px-0">
                            <div class="input-group input-group-outline my-1">
                                <label class="form-label">Taxa de atualização em mili-segundos</label>
                                <input type="number" class="form-control">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="vertical dark">
        </div>
        <div class="col-12 col-md-6 col-xl-4 mt-md-0 mt-4 position-relative">
            <div class="card card-plain h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <h6 class="mb-0">Profile Information</h6>
                </div>
                <div class="col-md-4 text-end">
                    <a href="javascript:;">
                    <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="" aria-hidden="true" data-bs-original-title="Edit Profile" aria-label="Edit Profile"></i><span class="sr-only">Edit Profile</span>
                    </a>
                </div>
                </div>
            </div>
            <div class="card-body p-3">
                <p class="text-sm">
                Hi, I’m Alec Thompson, Decisions: If you can’t decide, the answer is no. If two equally difficult paths, choose the one more painful in the short term (pain avoidance is creating an illusion of equality).
                </p>
                <hr class="horizontal gray-light my-4">
                <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; Alec M. Thompson</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; (44) 123 1234 123</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; alecthompson@mail.com</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Location:</strong> &nbsp; USA</li>
                <li class="list-group-item border-0 ps-0 pb-0">
                    <strong class="text-dark text-sm">Social:</strong> &nbsp;
                    <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                    <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                    <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                    <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                </ul>
            </div>
            </div>
            <hr class="vertical dark">
        </div>
        <div class="col-12 col-xl-4 mt-xl-0 mt-4">
            <div class="card card-plain h-100">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Conversations</h6>
            </div>
            <div class="card-body p-3">
                <ul class="list-group">
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                    <div class="avatar me-3">
                    <img src="../../../assets/img/kal-visuals-square.jpg" alt="kal" class="rounded-circle shadow">
                    </div>
                    <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Sophie B.</h6>
                    <p class="mb-0 text-xs">Hi! I need more information..</p>
                    </div>
                    <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Reply</a>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                    <div class="avatar me-3">
                    <img src="../../../assets/img/marie.jpg" alt="kal" class="rounded-circle shadow">
                    </div>
                    <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Anne Marie</h6>
                    <p class="mb-0 text-xs">Awesome work, can you..</p>
                    </div>
                    <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Reply</a>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                    <div class="avatar me-3">
                    <img src="../../../assets/img/ivana-square.jpg" alt="kal" class="rounded-circle shadow">
                    </div>
                    <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Ivanna</h6>
                    <p class="mb-0 text-xs">About files I can..</p>
                    </div>
                    <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Reply</a>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                    <div class="avatar me-3">
                    <img src="../../../assets/img/team-4.jpg" alt="kal" class="rounded-circle shadow">
                    </div>
                    <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Peterson</h6>
                    <p class="mb-0 text-xs">Have a great afternoon..</p>
                    </div>
                    <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Reply</a>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0">
                    <div class="avatar me-3">
                    <img src="../../../assets/img/team-3.jpg" alt="kal" class="rounded-circle shadow">
                    </div>
                    <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Nick Daniel</h6>
                    <p class="mb-0 text-xs">Hi! I need more information..</p>
                    </div>
                    <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto" href="javascript:;">Reply</a>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
</div>