@page "/pages/telephony/monitor/events"
@attribute [Authorize(Roles = "administrator")]
@inherits MonitorTelephonyBasePageComponent 
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options
@using Sufficit.Blazor.Client.Pages.Telephony
@using Sufficit.Client
@using Sufficit.Telephony
@using Sufficit.Blazor.Client.Models

@if (ErrorConfig != null)
{
    <div class="alert alert-danger mb-0 m-3">
        <h4 class="alert-heading">Erro interno !</h4>
        <p>@ErrorConfig.GetType(): <small>@ErrorConfig.Message</small></p>
    </div>
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h5 class="mb-0">Monitoramento de eventos</h5>
                <p class="text-sm mb-0">
                    Filtrar eventos em tempo real.
                </p>
            </div>
            @if(!Items.Any())
            {
                <div class="card m-1 p-2">                    
                    <HyperText CssClass="blinking">Aguardando eventos ....</HyperText>
                </div>
            } else {
                <EventsData Items="@Items.Reverse()"></EventsData>
            }
        </div>
    </div>
</div>