@page "/pages/telephony/checkup"
@inherits TelephonyBasePageComponent 

<MudLink Href="/pages/telephony/checkup/outboundroutes">Conferência nas rotas de saídas</MudLink>
<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @DateTime.Now
                <hr class="dark horizontal" />
                Estado da conexão: @WSClient.State
            </div>
        </div>
    </div>
</div>
<hr class="dark horizontal" />
<div class="card card-frame">
   <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <td>Ações</td>
                    <td class="center aligned">ID</td>
                    <td class="center aligned">Direção</td>
                    <td class="left aligned">Estado</td>
                    <td class="left aligned">Motivo</td>
                    <td class="left aligned">Atualização</td>
                </tr>
            </thead>                             
            <tbody>
            </tbody>
        </table>
    </div>
</div>