/* /Shared/MainLayoutMaterial.razor.rz.scp.css */
div.fillheight[b-nra5xrklbr] {
    bottom: 0;
    height: 250px;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
/* /Shared/SideBar.razor.rz.scp.css */
@media (max-width: 640px){
    .g-sidenav-pinned aside.navbar[b-va7elt1k5b] {
        margin: 0 !important;
        max-width: 100% !important;
        border-radius: 0;
    }
}

aside .background[b-va7elt1k5b] {
    z-index: -1;
    opacity: 0.05;
    position: absolute;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    background-image: url('/assets/img/polygon.jpg'); /* ivancik.jpg */
}

.g-sidenav-hidden img.navbar-brand-img.logo[b-va7elt1k5b] {
    filter: contrast(0) brightness(0) invert(1);
}
