<div class="pa-1 ma-1">

    <AuthorizeView>
        <Authorized>
            <strong>Hello, @context.User.Identity.Name!</strong>
            <a href="#" @onclick="BeginSignOut">Log out</a>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>

</div>

@code{
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] SignOutSessionStateManager SignOutManager { get; set; }

    protected async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}