@using System.Reflection
@using MudBlazor.Components

<footer class="footer py-4">
    <MudContainer Style="padding-top: 1rem;" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem lg="6">
                <MudText Align="Align.Start" Typo="Typo.caption" Class="d-block">
                    build: @(AssemblyVersion ?? "Desconhecido"),
                    made by
                    <a href="https://www.sufficit.com.br" class="font-weight-bold" target="_blank">sufficit</a>
                    for a really great experience.
                </MudText>
            </MudItem>
            <MudItem lg="6"> 
                <MudText Align="Align.End" Typo="Typo.caption" Class="d-block">
                    <a href="https://www.sufficit.com.br/App_Media/termos.pdf" class="nav-link pe-0 text-muted" target="_blank">termos de uso</a>
                </MudText>
            </MudItem>
        </MudGrid>      
    </MudContainer>
</footer>

@code{
    protected string? AssemblyVersion { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        AssemblyVersion = Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
    }
}