<MudCard Elevation="0">
    <MudCardHeader>
        <h2>Cálculo de latência</h2>
        @if (latency is null)
        {
            <span>Calculando ...</span>
        }
        else
        {
            <span>@(latency.Value.TotalMilliseconds)ms</span>
        }
    </MudCardHeader>
</MudCard>
@code {
    [Inject]
    protected IJSRuntime JS { get; set; } = default!;

    private DateTime startTime;
    private TimeSpan? latency;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            startTime = DateTime.UtcNow;
            var _ = await JS.InvokeAsync<string>("toString");
            latency = DateTime.UtcNow - startTime;
            await InvokeAsync(StateHasChanged);
        }
    }
}