@using Sufficit.Blazor.UI.Material
@using Sufficit.Blazor.UI.Material.Services
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-0 top-0 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">        
        <BreadcrumbNavigation />
        <SideBarToggle CssClass="nav-link text-body p-0" HideOnLowResolution="true"></SideBarToggle> 
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex w-100 align-items-center px-3">
                <TextSearchInput></TextSearchInput>
            </div>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item px-1">
                    <HyperLink OnClick="Refresh" CssClass="nav-link p-0 text-body">
                        <Icon Key="refresh"></Icon>
                    </HyperLink>
                </li>
                <li class="nav-item px-1 d-xl-none d-flex align-items-center">
                    <SideBarToggle CssClass="nav-link text-body p-0"></SideBarToggle> 
                </li>
                <li class="nav-item px-1">
                    <a href="javascript:;" class="nav-link text-body p-0">
                    <i class="material-icons fixed-plugin-button-nav cursor-pointer">
                    settings
                </i>
                    </a>
                </li>
                <li class="nav-item dropdown px-1">
                    <a href="javascript:;" class="nav-link text-body p-0 position-relative" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons cursor-pointer">
                        notifications
                    </i>
                    <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger border border-white small py-1 px-2">
                        <span class="small">11</span>
                        <span class="visually-hidden">unread notifications</span>
                    </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" aria-labelledby="dropdownMenuButton">
                    <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex align-items-center py-1">
                            <span class="material-icons">email</span>
                            <div class="ms-2">
                            <h6 class="text-sm font-weight-normal my-auto">
                                Check new messages
                            </h6>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex align-items-center py-1">
                            <span class="material-icons">podcasts</span>
                            <div class="ms-2">
                            <h6 class="text-sm font-weight-normal my-auto">
                                Manage podcast session
                            </h6>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex align-items-center py-1">
                            <span class="material-icons">shopping_cart</span>
                            <div class="ms-2">
                            <h6 class="text-sm font-weight-normal my-auto">
                                Payment successfully completed
                            </h6>
                            </div>
                        </div>
                        </a>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code{
    [Parameter]
    public string? Title { get; set; } 

    [Inject]
    protected IJSRuntime JSRuntime { get; set; } = default!;

    [Inject]
    protected NavigationManager uriHelper { get; set; } = default!;

    [Inject]
    protected BlazorUIMaterialService UIService { get; set; } = default!;

    protected async Task Refresh(MouseEventArgs e)
    {
        var alert = new SweetAlert() { 
                TimerProgressBar = true, 
                Timer = 8000, 
                Title = "Apagar cache",                
                Text = "Essa ação irá limpar todos os arquivos salvos (referentes a esta aplicação somente) em seu dispositivo.",
                Icon = "question",
                ShowDenyButton = true,
                DenyButtonText = "Não",
                ConfirmButtonText = "Continuar"
            };

        var Swal = UIService.SweetAlerts;
        var result = await Swal.Fire(alert);
        if (result != null)
        {
            if (result.IsConfirmed)
            {
                await Reload();
            }
        }
    }    

    protected async Task Reload()
    {
        await JSRuntime.InvokeVoidAsync("caches.delete", "blazor-resources-/");
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);            
    }
}