@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Infrastructure
@using Sufficit.Identity
@inject IJSRuntime JSRuntime

<SideBar CssClass="navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3">

    <div class="sidenav-header">
        <a class="navbar-brand m-0" style="text-align: center;" href="/">
            <img src="../../assets/img/logos/logo.png" class="navbar-brand-img h-100 logo" alt="main_logo" />
            <span class="ms-1 font-weight-bold text-white">
                <img src="../../assets/img/logos/logo-texto.png" class="navbar-brand-img h-100 textlogo" alt="main_logo" />
            </span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-0" />
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <AuthorizeView Context="IdentityUser">                
                <Authorized>
                    <SideBarMaterialItem Title="@User?.Identity?.Name" Image="@Avatar" Link="#ProfileNav">
                        <SideBarMaterialItem Title="Perfil de usuário" Icon="face" Link="https://identity.sufficit.com.br"></SideBarMaterialItem>
                        <SideBarMaterialItem Title="Sair" Icon="logout" @onclick="LogOut"></SideBarMaterialItem>
                    </SideBarMaterialItem>
                </Authorized>
                <NotAuthorized>
                    <SideBarMaterialItem Title="Entrar" Icon="login" @onclick="LogIn"></SideBarMaterialItem>
                </NotAuthorized>
            </AuthorizeView>
            <hr class="horizontal light mt-0" />

            <SideBarMaterialItem Title="Dashboard" Description="Modelos de painéis e exibições" Icon="dashboard" >
                <SideBarMaterialItem Title="Default" Link="material"></SideBarMaterialItem>
                <SideBarMaterialItem Title="Toast" Link="dashboard/toast"></SideBarMaterialItem>
                <SideBarMaterialItem Title="Not Ready" Link="unready"></SideBarMaterialItem>
                <SideBarMaterialItem Title="Counter" Icon="add" Link="counter"></SideBarMaterialItem>
            </SideBarMaterialItem>

            <AuthorizeView Context="Identity">                
                <Authorized>
                    <hr class="horizontal dark mt-0 mb-0" />
                    <SideBarMaterialItem Title="Identidade" Description="Controle da segurança de acesso" Icon="fingerprint">  
                        <AuthorizeView Context="Manager" Roles="manager">
                            <SideBarMaterialItem Icon="manage_accounts" Title="Políticas de usuário" Link="pages/identity/policies"></SideBarMaterialItem> 
                        </AuthorizeView>
                        <SideBarMaterialItem Icon="admin_panel_settings" Title="Regras do usuário" Link="pages/identity/userroles"></SideBarMaterialItem>
                        <SideBarMaterialItem Icon="admin_panel_settings" Title="Políticas deste usuário" Link="pages/identity/userpolicies"></SideBarMaterialItem>
                    </SideBarMaterialItem>
                </Authorized>
            </AuthorizeView>  

            <AuthorizeView Context="Telephony">
                <Authorized>
                    <hr class="horizontal dark mt-0 mb-0" />
                    <SideBarMaterialItem Title="Telefonia" Description="Ramais, chamadas e etc." Icon="tty">
                        <SideBarItemTelephonyMonitor></SideBarItemTelephonyMonitor>
                        <SideBarMaterialItem Title="Telefone Web" Link="pages/telephony/webphone"></SideBarMaterialItem>
                        <AuthorizeView Roles="telephony">                                              
                            <SideBarMaterialItem Title="Chamadas" Link="pages/telephony/calls"></SideBarMaterialItem> 
                        </AuthorizeView>                        
                        <AuthorizeView Roles="manager">                    
                            <SideBarMaterialItem Title="CheckUp" Link="pages/telephony/checkup"></SideBarMaterialItem>
                        </AuthorizeView>
                    </SideBarMaterialItem>
                </Authorized>                
            </AuthorizeView>
            <li style="clear: both; height: 100px;">&nbsp;</li>
        </ul>
    </div>
    
</SideBar>

@code{
    [Inject] 
    NavigationManager Navigation { get; set; } = default!;

    [Inject] 
    IAuthenticationStateProvider StateProvider { get; set; } = default!;

    protected UserPrincipal? User { get; set; }

    protected async Task LogOut(MouseEventArgs _)
    {
        await StateProvider.Logout();        
    }

    protected async Task LogIn(MouseEventArgs _)
    {
        string returnUrl = Navigation.Uri;
        await StateProvider.Login(returnUrl); 
        await InvokeAsync(StateHasChanged);
    }

    protected string Avatar
    {
        get
        {
            string result = "https://www.sufficit.com.br/Relacionamento/Avatar.ashx?IDContexto=";
            if (User != null)
            {
                result += User.GetUserId();
            }
            return result;
        }
    }

    protected async void OnAuthenticationStateChanged(Task<BlazorAuthenticationState> task)
    {
        User = (await task).User;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var user = (await StateProvider.GetAuthenticationStateAsync()).User;
            if (User != user)
            {
                User = user;
                await InvokeAsync(StateHasChanged);
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
    }
}