<InputGroup @ref="InputGroupReference" CssClass="input-group-outline" IsDisabled="@_disabled">
    <Label CssClass="form-label">Pesquisar ...</Label>
    <TextInput Value="@Value" OnValueChanged="@SearchInputChanged" OnFocus="@InputGroupReference.OnFocusChanged" />
</InputGroup>