@namespace Sufficit.Blazor.Client.Shared

<MudHidden Breakpoint="Breakpoint.Xs" Invert>
    @if (SideBarExtended)
    {
        <div class="suff-toggle-drawer-xs">
            <MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Primary" aria-label="close" OnClick="ToggleDrawer"></MudIconButton>
        </div>
    }
</MudHidden>

@code {
    [Parameter]
    public bool SideBarExtended { get; set; } = default!;

    [Parameter]
    public EventCallback ToggleDrawer { get; set; }
}
