@page "/"
<div class="row">
    <div class="col-12 col-lg-6">
        <TimeLineGitHub></TimeLineGitHub>
    </div>
    <div class="col-12 col-lg-6">
        <MeasureLatency></MeasureLatency>
    </div>
</div>
