@page "/"

<div MaxWidth="MaxWidth.ExtraLarge" class="mt-16">
    <span Typo="Typo.h3" GutterBottom="true">Hello, world!</span>
    <span class="mb-8">Welcome to your new app, powerd by MudBlazor!</span>
    <span Severity="Severity.Normal">You can find documentation and examples on our website here: <a href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></a></span>
</div>

<CookieLoginDisplay></CookieLoginDisplay>