@page "/userinfobyasp"
@attribute [Authorize]
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

<div class="pa-1 ma-1">
    <hr />
    <h3>ClaimsPrincipal data using default "@AuthenticationStateProvider.GetType().Name" </h3>
    <h5>AuthenticationType: @User?.Identity?.AuthenticationType</h5>
    <hr />
    <p>@_authMessage</p>

    @if (_claims.Any())
    {
        <ul>
            @foreach (var claim in _claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    }
    <hr />
    <p>TOKEN ::: @accessToken?.Value</p>
</div>

@code {
    [Inject] NavigationManager Navigation { get; set; } = default!;
    [Inject] AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;
    [Inject] IAccessTokenProvider TokenProvider { get; set; } = default!;
    [Inject] IHttpClientFactory ClientFactory { get; set; } = default!;

    private ClaimsPrincipal? User;
    private string _authMessage = string.Empty;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private AccessToken? accessToken;

    protected override async Task OnInitializedAsync()
    {
        User = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        try
        {
            if (User.Identity?.IsAuthenticated ?? false)
            {
                _authMessage = $"{User.Identity.Name} is authenticated. ({User.Identity.GetType()})";
                _claims = User.Claims;                      

                AccessTokenResult tokenResult = await TokenProvider.RequestAccessToken();
                if(!tokenResult.TryGetToken(out accessToken))
                {
                    accessToken = new AccessToken() { Value = $"STATUS: { tokenResult.Status }" };
                }                  
            }
            else
            {
                _authMessage = "The user is NOT authenticated.";
            }
        }
        catch(Exception ex)
        {
            _authMessage = $"error :: { ex.Message }"; 
        }
    }
}
