html, html > body, html > body > div#app {
    height: 100%;
}

.suff-toggle-drawer-xs {
    position: fixed;
    bottom: 2em;
    width: 100%;
    display: flex;
    padding-right: 2em;
    justify-content: flex-end;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#splash {
    max-width: 700px;
    height: auto;
    line-height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**/
.m-fadeOut {
    -webkit-animation: animationName 5s;
    animation: animationName 5s;
    -moz-animation: animationName 5s;
    -o-animation: animationName 5s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s linear 300ms, opacity 300ms;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0 linear 0s, opacity 300ms;
}

@keyframes animationName {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes animationName {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes animationName {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes animationName {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}