@page "/pages/identity/userroles"
@using Microsoft.Extensions.Logging
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Sufficit.Identity
@using Sufficit.Blazor.Client.Models.Identity
@attribute [Authorize]

<div>
    <span>@User?.GetType()</span>
</div>
<div>
    <span>Roles: </span> (@CurrentUserRoles?.Count()) @CurrentUserRoles?.GetType()
</div>

<hr class="dark horizontal" />    
<div class="card">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titulo</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descrição</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Filtros</th>
            </tr>
            </thead>
            <tbody>
                @if (CurrentUserRoles != null)
                {
                    @foreach (var item in CurrentUserRoles)
                    {
                        <tr>
                            <td>
                                <div class="d-flex px-2">
                                    @item.NormalizedName
                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-2">
                                    @item.Name
                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-2">
                                    @string.Join(" :: ", item.Filter)
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    IEnumerable<IRole> CurrentUserRoles { get; set; } 

    ClaimsPrincipal User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;        
        if(User is Sufficit.Identity.UserPrincipal user)
        {
            CurrentUserRoles = user.Roles;
        }
    }
}