<div id="suff-webphone-active-sessions-floating">
    <ActiveSessions Sessions="@JsSIPService.Sessions"></ActiveSessions>
</div>
@code{
    [Inject]
    public JsSIPService JsSIPService { get; set; } = default!;
}