@page "/userinfobytest"
@using System.Security.Claims
@inject AuthenticationStateProvider context

<MudPaper Class="pa-1 ma-1" Elevation="0">
    <h3>ClaimsPrincipal data using default "Cookie Authentication From BlazorServer" </h3>

    <p>@_authMessage</p>

    @if (_claims.Count() > 0)
    {
        <ul>
            @foreach (var claim in _claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    }

    <p>@_surnameMessage</p>
</MudPaper>

@code {
    private string _authMessage;
    private string _surnameMessage;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    //private AccessToken accessToken;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState state = await context.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _surnameMessage = $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
            _authMessage = "The user is NOT authenticated.";
        }
    }
}