<CascadingAuthenticationState>
     <LayoutView Layout="@typeof(MainLayoutMaterial)">      
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">  
                <AuthorizeRouteView RouteData="@routeData">
                    <Authorizing>
                        <div class="card customAuthorizing">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            Determining session state, please wait ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </Authorizing>
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <div class="card customNotAuthenticated">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            You are not authenticated and have no permission to access this resource.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <RedirectToLogin />
                        }
                        else
                        {
                            <div class="card customNotAuthorized">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            You are not authorized to access this resource.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView> 
            </Found>
            <NotFound>
                <Error404Layout>
                    <div class="card customNotFound">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    We are sorry, but we couldn't find the page you are looking for !!!
                                </div>
                            </div>
                        </div>
                    </div>
                </Error404Layout>                    
            </NotFound>
        </Router>
    </LayoutView> 
</CascadingAuthenticationState>