@inherits LayoutComponentBase
@using MudBlazor.ThemeManager
@using MudBlazor

<MudThemeProvider Theme="_themeManager.Theme" />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider/>

<PageTitle>@GetPageTitle()</PageTitle>
<MudLayout>
    <MudThemeManagerButton OnClick="@((e) => OpenThemeManager(true))" />
    <MudThemeManager Open="_themeManagerOpen" OpenChanged="OpenThemeManager" Theme="_themeManager" ThemeChanged="UpdateTheme" />

    <CascadingValue Value="@_themeManager.Theme" TValue="MudTheme" IsFixed="true">
        <MudDrawerContainer Class="mud-height-full">
            <CascadingIdentityContainerService>
                <AppBarDefault @bind-SideBarExtended="SideBarExtended"></AppBarDefault>            
                <SideBarDrawer SideBarExtended="@SideBarExtended" />            
                <MudMainContent Class="pt-16 px-md-16 bg-gray-100">
                    <ExceptionControl>
                        @Body
                    </ExceptionControl>
                    <div class="fillheight"></div>
                    <FooterMaterial />
                </MudMainContent>
                <ActiveSessionsFloating></ActiveSessionsFloating>
            </CascadingIdentityContainerService>
        </MudDrawerContainer>
    </CascadingValue>
</MudLayout>