.shaking {
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: shake-animation;
    -webkit-animation: shake-animation 0.5s steps(5, start) infinite;
}

@keyframes shake-animation {
    10%, 90% {
        transform: translate3d(-0.3px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(0.3px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-0.3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(0.3px, 0, 0);
    }
}

.blinking {
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: blink-animation;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}